@model FitFlow.Models.Entities.Role

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleName)
        </dd>
    </dl>
</div>
<div>
    <button type="submit" asp-route-id="@Model?.RoleID" class="btn btn-primary">Edit</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
